{% extends "base.html" %} {% block title %}Tracker{% endblock %}

{% block contentt %} 




<div class="container-fluid">
    <div class="row">
        <h3 id="h1" class=" text-center "
            style="color: rgb(25, 25, 112); font-family: Georgia, 'Times New Roman', Times, serif;">
            <strong class="shadow rounded">Hyderbad IT KMS Repository</strong>
        </h3>
        
      </div>
    </div>
    <div class="btn-group btn-group-sm" role="group" >
        <a href='/'><button class="btn btn-outline-secondary" type="button"><b>Datacenter Asset</b></button></a>
        <a href='/home1'><button id="reloader" type="button" class="btn btn-outline-info active"><i class="fas fa-chevron-circle-left"></i><b>Incedent tracker </b></button></a>
        <a href='/home2'><button class="btn btn-outline-secondary"  ><b>SOPs and Docs</b></button></a>
        <!--a href='/home3'><button class="btn btn-outline-secondary" ><b>ISO doc's</b></button></a -->
        <a href='/home4'><button class="btn btn-outline-secondary" ><b>DB backup and App-repo-bkp</b></button></a>
    </div>
                  

{% endblock %}

{% block contentt1 %} 


<div class="container-fluid">


         


                      <p style="color: rgb(25, 125, 112);">Today Date: <span id="datetime"></span></p>

                        <script>
                        var dt = new Date();
                        document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
                        </script>
                    <figure class="figure">
                        <iframe src="http://192.168.45.189:8082" height="200" width="400" title="Iframe Example"></iframe>
                        <figcaption class="figure-caption">....</figcaption>
                    </figure>
                    <figure class="figure">


                  <button type="button" class="btn btn-secondary" >
                    HYD DC Incedent Tracker Sheet
                  </button>
                  <figure class="figure text-wrap fst-italic bg-black">
                    <iframe src="/home7" height="1200" width="1400" title="Iframe Example"></iframe>                    
                    <figcaption class="figure-caption fs-6 ">HYD Datacenter Incedent tracker</figcaption>
                </figure>



            </div>
            
  </div>
</div>





{% endblock %}
