<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hubli Christian Assembly</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    
  </head>
  <body>
    
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-danger  nav justify-content-center "  >
          <div class="container boarder-solid  ">
              <a href="/">
              <img alt="Logo" class="img-responsive logo main-logo" src="./images/hca-logo.jpg" width="45px" height="45px" style="margin-right: 20px;">
              </a>
            <a class="navbar-brand fw-bolder " style="margin-right: 20px;" href="#"></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-1 mb-lg-0 fw-bolder" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                <li class="nav-item">
                  <a class="nav-link  btn  p-1 ms-3 mt-1 fw-bold " style="margin-right: 20px;  color: rgb(255, 255, 255);" aria-current="page" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link   btn btn-outline-bark p-1  ms-2 mt-1 fw-bold" style="margin-right:20px;  color: rgb(255, 255, 255);" href="./book.html">Books</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link   btn btn-outline-bark p-1 ms-3 mt-1  fw-bold" style="margin-right:20px;  color: rgb(255, 255, 255);" href="./articles.html">Articles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  btn  p-1 ms-3 mt-1  fw-bold" style="margin-right:20px; color: rgb(255, 255, 255);" href="./vedio.html">Videos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  active btn btn-outline-bark p-1 ms-3 mt-1  fw-bold" style="margin-right:20px;  color: rgb(255, 255, 255);" href="./letter.html">Letters</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  btn btn-outline-bark p-1 ms-3 mt-1 fw-bold" style="margin-right:20px;  color: rgb(255, 255, 255);" href="./gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  btn btn-outline-bark p-1 ms-3 mt-1 fw-bold" style="margin-right:20px;  color: rgb(255, 255, 255);" href="./aboutus.html">About Us</a>
                </li>
              
                <!--li class="nav-item btn  active dropdown ms-1 mt-1 fw-bold">
                  <a
                    class="nav-link dropdown-toggle fw-bold btn btn-outline-bark p-1 ms-1 mt-1 fw-bold"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="true"
                  >
                    Gallery's
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Church Photos</a></li>
                    <li><a class="dropdown-item" href="#">Ministry Photos</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="#">Other Events</a>
                    </li>
                    
                  </ul>
                </li-->
              
              </ul>
                      
              <form class="d-flex">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-success" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
       </nav>
    </header>

    <main>

        <div class="container  boarder boarder-info border-3">
            <div class="row my-5 boarder boarder-info border-3 ">
              <div class="col mx-0 ms-5 boarder boarder-info border-3">
                <div class=" boarder boarder-info border-3 ">
                <span class="border border-info">
                
            <div class=" boarder boarder-info my-5 text-center"><h1 ><ins>Thank you we heave received your request</ins></h1>
            <img class=" img-fluid" src="./images/thq.png" alt="hank you we heave received">
            </div>

    </main>
  </body>
</html>